npm-debug.log
node_modules
config.json
.DS_Store
*/.DS_Store
*/*/.DS_Store
._*
*/._*
*/*/._*
coverage
lib-cov
secrets.json
dist
secrets.json
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
.\#*
package-lock.json
.tern-port
test.node.bundle.js
*/coverage/
yarn-error.log
*.swp
_build

.nyc_output
